h1 {
    font-family: allegratta;
    font-family: alsscrp;
    font-size: 4em;
}

p {
    font-size: 1.5em;
}

label {
    font-family: allegratta;
    font-family: alsscrp;
    font-weight: 500;
    margin-bottom: -4px;
    font-size:1.5em;
}

.form-group {
    margin-top: 25px;
}

button {
    font-size: 1em;
}

#rsvpSubmit {
    display:inline-block;
    max-height:50px;
    text-align: center;
    position: relative;
}

#thankYouMessage {
    display: none;
}

#submitLoading {
    display: none;
    background: url(/assets/images/Spinner-1s-200px.svg);
    color: rgba(0, 0, 0, 0);  
    background-repeat: no-repeat;
    background-position: center;
}