h1 {
    font-family: allegratta;
    font-family: alsscrp;
    font-size: 4em;
}

p {
    font-size: 1.5em;
}

label {
    font-family: allegratta;
    font-family: alsscrp;
    font-weight: 500;
    margin-bottom: -4px;
    font-size:1.5em;
}

.form-group {
    margin-top: 25px;
}

button {
    font-size: 1em;
}